
body {
  font-size: 14px;
}

.v415_5 {
  width: 100%;
  height: 1007px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v416_11 {
  width: 177px;
  color: rgba(15,70,43,1);
  position: absolute;
  top: 27px;
  left: 100px;
  font-family: 'Lobster';
  font-weight: 'Regular';
  font-size: 64px;
  opacity: 1;
  text-align: left;
}

.v416_12 {
  width: 40px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 49px;
  left: 540px;
  font-family: 'Inter';
  font-weight: 'Regular';
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v416_13 {
  width: 69px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 49px;
  left: 634px;
  font-family: 'Inter';
  font-weight: 'Regular';
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v416_14 {
  width: 71px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 49px;
  left: 712px;
  font-family: 'Inter';
  font-weight: 'Regular';
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v416_15 {
  width: 71px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 49px;
  left: 1180px;
  font-family: 'Inter';
  font-weight: 'Regular';
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v416_16 {
  width: 71px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 49px;
  left: 1091px;
  font-family: 'Inter';
  font-weight: 'Regular';
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v419_17 {
  width: 78px;
  color: rgba(193,193,193,1);
  position: absolute;
  top: 809px;
  left: 476px;
  font-family: 'Inter';
  font-weight: 'Regular';
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v419_18 {
  width: 78px;
  color: rgba(193,193,193,1);
  position: absolute;
  top: 809px;
  left: 686px;
  font-family: 'Inter';
  font-weight: 'Regular';
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v419_19 {
  width: 78px;
  color: rgba(193,193,193,1);
  position: absolute;
  top: 809px;
  left: 896px;
  font-family: 'Inter';
  font-weight: 'Regular';
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v419_20 {
  width: 78px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 871px;
  left: 477px;
  font-family: 'Playfair Display';
  font-weight: 'Regular';
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v419_21 {
  width: 78px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 900px;
  left: 477px;
  font-family: 'Playfair Display';
  font-weight: 'Regular';
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v419_22 {
  width: 78px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 929px;
  left: 477px;
  font-family: 'Playfair Display';
  font-weight: 'Regular';
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v419_23 {
  width: 78px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 841px;
  left: 477px;
  font-family: 'Playfair Display';
  font-weight: 'Regular';
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v419_24 {
  width: 124px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 871px;
  left: 686px;
  font-family: 'Playfair Display';
  font-weight: 'Regular';
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v419_25 {
  width: 78px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 900px;
  left: 686px;
  font-family: 'Playfair Display';
  font-weight: 'Regular';
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v419_26 {
  width: 98px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 929px;
  left: 686px;
  font-family: 'Playfair Display';
  font-weight: 'Regular';
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v419_27 {
  width: 98px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 841px;
  left: 686px;
  font-family: 'Playfair Display';
  font-weight: 'Regular';
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v419_28 {
  width: 97px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 841px;
  left: 896px;
  font-family: 'Playfair Display';
  font-weight: 'Regular';
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v419_29 {
  width: 97px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 871px;
  left: 896px;
  font-family: 'Playfair Display';
  font-weight: 'Regular';
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v419_30 {
  width: 97px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 900px;
  left: 896px;
  font-family: 'Playfair Display';
  font-weight: 'Regular';
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v419_31 {
  width: 449px;
  height: 622px;
  background: url("AboutUs4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 248px;
  overflow: hidden;
}

.v419_32 {
  width: 160px;
  height: 198px;
  background: url("AboutUs1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 70px;
  overflow: hidden;
}

.v419_33 {
  width: 160px;
  height: 195px;
  background: url("AboutUs2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 364px;
  left: 70px;
  overflow: hidden;
}

.v419_34 {
  width: 160px;
  height: 186px;
  background: url("AboutUs3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 581px;
  left: 70px;
  overflow: hidden;
}

.v419_35 {
  width: 331px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 145px;
  left: 722px;
  font-family: 'Playfair Display';
  font-weight: 'Regular';
  font-size: 36px;
  opacity: 1;
  text-align: left;
}

.v419_36 {
  width: 529px;
  color: rgba(3,3,3,1);
  position: absolute;
  top: 212px;
  left: 722px;
  font-family: 'Inter';
  font-weight: 'Regular';
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
